.heading {
  display: flex;
  padding: 10px 0;
  background-color: #efefef;
}
.product {
  flex: 40%;
  padding-left: 10px;
}
.amount {
  flex: 140px;
}
.delivery {
  flex: 160px;
}
.price {
  flex: 100px;
}

.summary-price {
  text-align: right;
  padding: 10px 0;
  & span {
    font-size: 18px;
    font-weight: 700;
    padding-right: 10px;
  }
} 

.cancel-btn {
  display: inline-flex;
  align-items: center;
  margin: 5px 0 10px;
  & span {
    font-size: 20px;
  }
}