<a 
[routerLink]="['details', product.id]" 
[queryParams]="{category: breadcrumbs?.category, subcategory: breadcrumbs?.subcategory}"
[class.product--popular]="product.rating === 5">
  <img [src]="product.imageUrls[0]" [alt]="product.name" />
  <div class="info">
    <p class="title">
      {{ product.name }}
    </p>
    <p class="descr">
      {{ product.description }}
    </p>
    <div class="rating">
      <app-star-rating [rating]="product.rating"></app-star-rating>
    </div>
    <span class="price">
      {{ product.price | currency: "BYN":"symbol":"1.0-2":"ru" }}
    </span>
  </div>
</a>
