.cart-item {
  display: flex;
  margin-top: 20px;
}
.product {
  flex: 40%;
  display: flex;
}
.image__wrapper {
  max-width: 160px;
  width: 100%;
  & a {
    display: block;
    position: relative;
    &::after {
      right: 20px;
    }
  }
}
.image{
  width: 100%;
  margin: 0 auto;
  height: 100px;
  padding-right: 20px;
  object-fit: contain;
}
.name {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  height: 2.2em;
  overflow: hidden;
  padding-right: 10px;
}
.amount {
  font-size: 12px;
  display: inline-block;
  margin-top: 10px;
}
.counter {
  flex: 140px;
  &__amount {
    display: none;
  }
}
.delivery {
  flex: 160px;
}
.price {
  flex: 100px;
}

.remove-from-cart-btn {
  display: block;
  margin: 0 auto;
  color: var(--accent-red);
  font-size: 12px;
  margin-top: 10px;
  &:hover {
    text-decoration: underline;
  }
}

@media(max-width: 1000px) {
  .image__wrapper {
    max-width: 100%;
  }
  .counter__amount {
    display: inline;
  }
  .cart-item {
    flex-direction: column;
    margin-top: 20px;
  }
  .image {
    padding: 0;
  }
  .product {
    flex-direction: column;
  }
  .name__wrapper {
    text-align: center;
  }
  .name {
    padding: 0 5px;
    margin: 5px 0;
  }
  .counter,
  .delivery,
  .price {
    flex: auto;
    text-align: center;
  }
}