<div class="cart-item">
  <div class="product">
    <div class="image__wrapper">
      <a [routerLink]="['/details', product.id]">
        <img 
          class="image" 
          [src]="product.imageUrls[0] || './assets/images/default_preview.jpeg'" 
          [alt]="product.name">
      </a>
    </div>
    <div class="name__wrapper">
      <h6 class="name">
        <a [routerLink]="['/details', product.id]">
          {{product.name}}
        </a>
      </h6>
      <span class="amount">
        На складе: {{product.availableAmount}}
      </span>
    </div>
  </div>

  <div class="counter">
    <span class="counter__amount">Заказано: </span>
    <span>
      {{amount}}
    </span>
  </div>
  <ul class="delivery">
    <li>Курьером: сегодня</li>
    <li>Самовывоз: завтра</li>
  </ul>
  <span class="price">
    {{price | currency: "BYN":"symbol":"1.0-2":"ru"}}
  </span>
</div>