<div class="container">
  <h2 class="section-title">Возможности и преимущества приложения</h2>
  <ul class="advantages">
    <li>
      <h4>Angular</h4>
      <p>Проект выполнен с использованием JavaScript фреймворка Angular</p>
    </li>
    <li>
      <h4>Система каталога и поиска товаров</h4>
      <p>В приложении есть каталог с делением на категории и подкатегории, а также поле ввода для поиска</p>
    </li>
    <li>
      <h4>Профиль пользователя</h4>
      <p>Пользователь может зарегистрироваться и войти в свой профиль</p>
    </li>
    <li>
      <h4>Корзина, избранное и заказы</h4>
      <p>Пользователь может добавлять товары в корзину, список любимых товаров и делать заказ</p>
    </li>
    <li>
      <h4>Панель сортировки</h4>
      <p>Сортировки на странице каталога позволяют находить наилучший товар</p>
    </li>
    <li>
      <h4>Адаптивность</h4>
      <p>Приложение адаптировано под дисплеи до 500px</p>
    </li>
  </ul>
</div>