:host {
  flex-grow: 1;
}
.search {
  position: relative;
  & input {
    width: 100%;
    min-height: 42px;
    padding: 8px 15px;
    border-radius: 21px;
    background-color: #fff;
    border: 1px solid #d5d7db;
    outline: none;
  }
  & .results {
    position: absolute;
    top: 100%;
    left: -40px;
    right: -40px;
    padding: 20px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: var(--dropdown-shadow);
    z-index: 2;
  }
  &__result-category {
    padding: 15px 10px;
    font-size: 16px;
    color: var(--blue-btn);
    border-bottom: 1px solid #ccc;
    &:hover {
      text-decoration: underline;
    }
    & a {
      display: block;
    }
  }
}

@media(max-width: 1000px) {
  .search {
    & .results {
      left: -190px;
      right: -106px;
    }
  }
}