form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 0;
  max-width: 600px;
}
.form-group {
  width: 48%;
  & mat-form-field {
    width: 100%;
  }
}
.submit-btn__wrapper {
  width: 100%;
}
.field {
  border: 1px solid #ccc;
  border-bottom: 2px solid transparent;
}
.ng-valid[required], .ng-valid.required  {
  border-bottom-color: #42A948; /* green */
}

.ng-dirty.ng-invalid:not(form)  {
  border-bottom-color: #a94442; /* red */
}

.cancel-btn {
  display: flex;
  align-items: center;
  & span {
    margin-right: 10px;
  }
}