<div class="cart-item">
  <div class="product__wrapper">
    <a [routerLink]="['/details', product.id]">
      <img 
        class="image" 
        [src]="product.imageUrls[0]" 
        [alt]="product.name">
    </a>
    <div class="name__wrapper">
      <a [routerLink]="['/details', product.id]">
        <h6 class="name">
          {{product.name}}
        </h6>
      </a>
      <span class="amount">
        На складе: {{product.availableAmount}}
      </span>
    </div>
  </div>
  <div class="counter">
    <span>{{amount}}</span>
  </div>
  <ul class="delivery">
    <li>Курьером: сегодня</li>
    <li>Самовывоз: завтра</li>
  </ul>
  <span class="price">
    {{price | currency: "BYN":"symbol":"1.0-2":"ru"}}
  </span>
</div>