<div class="header-upper">
  <div class="container">
    <app-location-select></app-location-select>
    <app-contacts
      [isCollapsed]="true"
      class="contacts__dropdown"
    ></app-contacts>
    <div class="contacts-time">
      <p>контакт-центр с 8:00 до 22:00</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="header">
    <a routerLink="" class="logo">
      <img src="./assets/icons/logo.svg" alt="Logo" />
    </a>
    <button #catalogBtn (click)="toggleCatalogDropdown()" class="btn-rounded catalog-btn">
      <div class="catalog-icon__circle"
      [class.open]="isCatalogActive$ | async">
        <div class="catalog-icon">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <span>Каталог товаров</span>
    </button>

    <app-search-input></app-search-input>

    <app-profile-dropdown class="profile__dropdown"></app-profile-dropdown>
    <a routerLink="/user" class="btn-rounded btn-link">
      <span class="material-icons-outlined btn-icon">
        shopping_cart
      </span>
      <span class="btn-text">
        Корзина
      </span>
    </a>
    <app-catalog-dropdown
      #catalogDropdown
      class="catalog__dropdown"
    ></app-catalog-dropdown>
  </div>
</div>

<div class="categories__wrapper">
  <div class="container">
    <swiper
      id="header__categories-swiper"
      class="categories"
      [freeMode]="true"
      [slidesPerView]="'auto'"
    >
      <ng-template *ngFor="let category of categories$ | async" swiperSlide>
        <li>
          <a [routerLink]="['category', category.id]">
            {{ category.name }}
          </a>
        </li>
      </ng-template>
    </swiper>
  </div>
</div>
