<div appDropdown (closeDropdown)="close()">
  <button
    class="btn-rounded"
    [class.active]="isActive$ | async"
    (click)="toggle()"
  >
    Аккаунт
  </button>
  <div class="dropdown__menu" *ngIf="(isActive$ | async) && ((user$ | async) === null)">
    <img src="" alt="User avatar" class="avatar" />
    <button
    data-can-close 
    (click)="openModal(); close()"
    class="enter-btn btn-reset">Войти</button>
    <a routerLink="/user/cart">Корзина</a>
    <ul>
      <li>
        <a routerLink="/user/favorite">Избранные товары</a>
      </li>
      <li>
        <a routerLink="/user/waitlist">Лист ожидания</a>
      </li>
    </ul>
  </div>
  <div class="dropdown__menu" *ngIf="(isActive$ | async) && ((user$ | async) !== null)">
    <img src="" alt="User avatar" class="avatar" />
    <span>{{(user$ | async)!.firstName}}</span>
    <a routerLink="/user/cart">Корзина</a>
    <ul>
      <li>
        <a routerLink="/user/favorite">Избранные товары</a>
      </li>
      <li>
        <a routerLink="/user/waitlist">Лист ожидания</a>
      </li>
    </ul>
    <button (click)="logout()">Logout</button>
  </div>
</div>
