:host {
  position: relative;
}
.dropdown__menu {
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translate(-50%, 0);
  flex-direction: column;
  z-index: 3;
  padding: 20px;
  border-radius: 6px;
  background-color: #fff;
}
