<div class="container">
  <ul 
  class="breadcrumbs"
  *ngIf="category && subcategory">
    <li>
      <a [routerLink]="['/category', category.id]">
        {{category.name}}
      </a>
    </li>
    <li>
      <span>
        {{subcategory.name}}
      </span>
    </li>
  </ul>
  <app-sortbar class="sortbar"></app-sortbar>
  <hr>
  <ul class="list">
    <li class="col-25" *ngFor="let product of products | sort:sortOptions">
      <app-product-card 
      (addToCartEvent)="addItemToCart($event)" 
      (removeFromCartEvent)="removeItemFromCart($event)" 
      (addToFavoriteEvent)="addItemToFavorite($event)"
      (removeFromFavoriteEvent)="removeItemFromFavorite($event)"
      [product]="product"
      [breadcrumbs]="{category: category!.id, subcategory: subcategory!.id}"></app-product-card>
    </li>
  </ul>
  <button 
  class="loadmore-btn btn-blue"
  [disabled]="isAllLoaded$ | async"
  (click)="loadMoreProducts()">
    Загрузить еще
    <span class="material-icons-outlined">
      refresh
    </span>
  </button>
</div>
