.list {
  display: flex;
  flex-wrap: wrap;
}
.col-25 {
  max-width: 25%;
  width: 100%;
  margin-bottom: 20px;
}

.container {
  padding-top: 20px;
}

.loadmore-btn {
  display: flex;
  align-items: center;
  margin: 20px auto;
  & span {
    margin-left: 10px;
  }
}