.title{
  font-size: 32px;
  padding: 20px 0 20px 40px;
}
.details-main {
  display: flex;
  // flex-direction: column;
  margin: 0 auto;
  &__slider-container {
    max-width: 660px;
    margin: 0;
    margin-right: 40px;  
  }
  &__thumbs-slider {
    max-width: 360px;
    margin: 0 auto;
  }
  &__info {
    display: flex;
    flex-direction: column;
  }  
}
.slider-thumb__image {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.slider__image{
  margin: 0 auto;
  display: block;
}

.details {
  &__price {
    font-size: 24px;
  }
}