<div *ngIf="product$ | async as product" class="container">
  <ul class="breadcrumbs" *ngIf="breadcrumbs && breadcrumbs.category && breadcrumbs.subcategory">
    <li>
      <a [routerLink]="['/category', breadcrumbs.category.id]">
        {{breadcrumbs.category.name}}
      </a>
    </li>
    <li>
      <a [routerLink]="['/category', breadcrumbs.category.id, breadcrumbs.subcategory.id]">
        {{breadcrumbs.subcategory.name}}
      </a>
    </li>
    <li>
      <span>
        {{product.name}}
      </span>
    </li>
  </ul>
  <h3 class="title">{{ product.name }}</h3>
  <div class="details-main">
    <div class="details-main__slider-container">
      <swiper
        class="details-main__slider"
        #detailsSwiper
      >
        <ng-template swiperSlide *ngFor="let image of product.imageUrls">
          <img class="slider__image" [src]="image" [alt]="product.name" />
        </ng-template>
      </swiper>
      <swiper
      class="details-main__thumbs-slider"
      #detailsSwiperThumbs
      [slidesPerView]="3"
      [spaceBetween]="20">
        <ng-template swiperSlide *ngFor="let image of product.imageUrls">
          <img class="slider-thumb__image" [src]="image" [alt]="product.name" />
        </ng-template>
      </swiper>
    </div>

    <div class="details-main__info">
      <span class="details__price">
        {{ product.price | currency: 'BYN':'symbol':'1.0-2':'ru' }}
      </span>
      <button 
      class="btn-to-cart"
      *ngIf="!isInCart(product.id)"
      (click)="addToCart(product.id)">В корзину</button>
      <button 
      class="btn-from-cart"
      *ngIf="isInCart(product.id)"
      (click)="removeFromCart(product.id)">Удалить из корзины</button>
      <button 
      class="btn-to-favorite "
      *ngIf="!isInFavorite(product.id)"
      (click)="addToFavorite(product.id)">В избранное</button>
      <button 
      class="btn-from-favorite "
      *ngIf="isInFavorite(product.id)"
      (click)="removeFromFavorite(product.id)">Удалить из избранного</button>

      <app-star-rating class="rating" [rating]="product.rating"></app-star-rating>

      <ul class="info__items-list">
        <li>
          <span class="info__item-icon material-icons-outlined">
            done_outline
          </span>
          <span class="info__item-text">Товар в наличии, {{product.availableAmount}} шт.</span>
        </li>
        <li>
          <span class="info__item-icon material-icons-outlined">
            build
          </span>
          <span class="info__item-text">Сопутствующие услуги</span>
        </li>
        <li>
          <span class="info__item-icon material-icons-outlined">
            local_shipping
          </span>
          <span class="info__item-text">Доставка в {{location$ | async}}</span>
        </li>
        <li>
          <span class="info__item-icon material-icons-outlined">
            fact_check
          </span>
          <span class="info__item-text">Гарантия 3 года</span>
        </li>
      </ul>
    </div>
  </div>
  <div >
  </div>
  <mat-tab-group class="details-description">
    <mat-tab label="Обзор">
      <p class="tab-item">{{ product.description }}</p>
    </mat-tab>
    <mat-tab label="Отзывы">
      <p class="tab-item">{{ product.description }}</p>
      <p class="tab-item">{{ product.description }}</p>
    </mat-tab>
    <mat-tab label="Вопрос-ответ">
      <p class="tab-item">{{ product.description }}</p>
    </mat-tab>
  </mat-tab-group>
</div>
