.title{
  font-size: 32px;
  padding: 20px 0 20px 40px;
}
.details-main {
  display: flex;
  margin: 0 auto;
  &__slider {
    max-width: 660px;
    margin: 0;
    margin-right: 40px;
  }
  &__info {
    display: flex;
    flex-direction: column;
  }  
}
.slider-image{
  margin: 0 auto;
  display: block;
}

.details {
  &__price {
    font-size: 24px;
  }
}