<div *ngIf="product" class="container">
  <h3 class="title">{{product.name}}</h3>
  <div class="details-main">
    <swiper
    class="details-main__slider"
[slidesPerView]="1"
[spaceBetween]="10">
  <ng-template 
    swiperSlide
    *ngFor="let image of product.imageUrls">
    <img class="slider-image" [src]="image" [alt]="product.name">
  </ng-template>
</swiper>
    <div class="details-main__info">
      <span class="details__price">
        {{product.price | currency: "BYN":"symbol":"1.0-2":"ru" }}
      </span>
      <button class="to-cart-btn btn-accent">
        В корзину
      </button>
      <ul class="info__items-list">
        <li>
          Доставка 3 дня
        </li>
        <li>
          Сопутствующие товары
        </li>
        <li>
          Гарантия 3 года
        </li>
        <li>
          Доставка по всей Беларуси
        </li>
      </ul>
    </div>
  </div>
  <div class="details-description">
    <p>{{product.description}}</p>
  </div>
</div>