a {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  &:hover {
    box-shadow: var(--card-hover-shadow);
  }
}
.name {
  font-size: 14px;
}
.img__wrapper {
  margin-top: auto;
}
img {
  display: block;
  width: 100%;
  height: 140px;
  object-fit: contain;
}