.dropdown {
  padding: 20px 10px;
  border-radius: 6px;
  background-color: #fff;
  display: none;
  min-height: calc(100vh - 143px);
  box-shadow: var(--dropdown-shadow);
  &.visible {
    display: flex;
  }
}

.list {
  &__wrapper {
    display: flex;
    flex-grow: 1;
  }
  &__main-menu {
    border-right: 1px solid #ccc;
    padding-right: 10px;
  }
  &__secondary-wrapper{
    padding-left: 40px;
    flex-grow: 1;
  }
  &__secondary-title{
    font-size: 24px;
  }
  &__secondary-menu {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  &__secondary-item {
    max-width: 24%;
    width: 100%;
    margin-top: 10px;
    & > a {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 10px 20px;
      min-height: 60px;
      border: 1px solid #ccc;
      transition: .2s;
      &:hover {
        border-color: transparent;
        background-color: var(--link-hover-bg);
      }
    }
  }
}

.category-list-item {
  fill: #111;
  &:hover {
    fill: var(--accent-red);
  }
}
.svg-use {
  fill: inherit;
}
.category-link{
  display: flex;
  align-items: center;
  padding: 6px 10px;
  border-radius: 4px;
  transition: .2s;
  &:hover {
    background-color: var(--link-hover-bg);
  }
  & > span {
    max-width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.category-icon{
  width: 24px;
  height: 24px;
  margin-right: 4px;
}