.container {
  display: flex;
  padding: 40px 10px 60px;
}

.nav {
  padding-right: 20px;
  border-right: 1px solid #ccc;
  li > a {
    white-space: nowrap;
  }
}

.content {
  flex-grow: 1;
  padding-left: 20px;
  min-height: 80vh;
}
.btn-logout{
  width: 100%;
}