/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

:root {
  --main-font-family: 'Open Sans', sans-serif;
  --default-shadow-color: rgba(23,35,38,0.05);
  --body-bg-color: #fefefe;
  --accent-color: #a6f;
  --card-hover-shadow: 0px 1px 6px 0px #777;
  --accent-violet: #941e94;
  --accent-red: #e52e6b;
  --accent-red-dark: #BC1242;
  --link-hover-bg: rgba(219,33,95,0.1);
  --dropdown-shadow: 0 4px 12px 0 rgb(41 44 51 / 12%), 0 2px 2px 0 rgb(41 44 51 / 4%);
  --blue-btn: #0077CC; 
  --blue-btn-hover: #006BB8; 
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: var(--main-font-family);
  background-color: var(--body-bg-color);
  position: relative;
  &.disabled {
    overflow: hidden;
  }
}

button,
input {
  padding: 0;
  font-size: 14px;
  font-family: var(--main-font-family);
}

button {
  cursor: pointer;
}
a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: var(--accent-red);
    text-decoration: none;
  }
}
a.btn-link {
  display: flex;
}

.btn-icon{
  font-size: 20px;
  margin-right: 10px;
}

h1, h2, h3, h4, h5, h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container{
  max-width: 1420px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.btn-rounded {
  display: flex;
  align-items: center;
  padding: 9px 15px;
  min-height: 34px;
  border-radius: 25px;
  border: 1px solid #d5d7db;
  background: #f7f8fa;
  transition: .2s ease;
  &:hover {
    border-color: #fff;
    background-color: #fff;
    box-shadow: var(--card-hover-shadow);
  }
}

.btn-blue {
  padding: 10px 20px;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: var(--blue-btn);
  transition: .2s;
  &:hover {
    background-color: var(--blue-btn-hover);
  }
  &:disabled {
    cursor: default;
    opacity: 0.6;
    pointer-events: none;
  }
}

.btn-reset {
  border: none;
  background-color: transparent;
}

button.btn-accent{
  padding: 16px;
  font-size: 18px;
  border: none;
  color: #fff;
  background-color: var(--accent-red);
  transition: .2s;
  &:hover {
    background-color: var(--accent-red-dark);
  }
}

.btn-from-cart,
.btn-to-cart {
  font-size: 14px;
  width: 150px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 36px;
  border-width: 2;
  border-style: solid;
  transition: .2s;
}
.btn-to-cart {
  background-color: var(--accent-red);
  color: #fff;
  border-color: transparent;
  &:hover {
    background-color: var(--accent-red-dark);
  }
}
.btn-from-cart {
  background-color: transparent;
  color: var(--accent-red);
  border-color: var(--accent-red);
  &:hover {
    text-decoration: underline;
  }
}

.btn-from-favorite,
.btn-to-favorite {
  font-size: 14px;
  text-align: center;
  min-height: 30px;
  background-color: transparent;
  border: none;
}

.btn-to-favorite {
  color: var(--blue-btn);
  &:hover {
    text-decoration: underline;
  }
}
.btn-from-favorite {
  color: #777;
  &:hover {
    text-decoration: underline;
  }
}

img {
  display: block;
}

#header__categories-swiper {
  & .swiper-slide {
    width: auto;
  }
}

#popular-goods__swiper {
  .swiper-slide {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
  }
}

.login-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // transform: translate(-50%, -50%);
  // padding: 20px;
  background-color: rgba(0,0,0,.6);
  z-index: 5;
  &__wrapper{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    padding: 20px;
    background-color: #fff;
  }
}

.register-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // transform: translate(-50%, -50%);
  // padding: 20px;
  background-color: rgba(0,0,0,.6);
  z-index: 5;
  &__wrapper{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    padding: 20px;
    background-color: #fff;
  }
}
html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.list-item {
  display: flex;
  align-items: center;
  padding: 4px 16px;
  transition: .2s;
  &:hover {
    color: var(--accent-red);
    background-color: var(--link-hover-bg);
  }
}